[project]
	description = my own vimrc
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/lidonghe
[access "refs/for/refs/*"]
	read = group user/lidonghe
	push = group user/lidonghe
	label-Code-Review = -2..+2 group user/lidonghe
	label-Verified = -1..+1 group user/lidonghe
	rebase = group user/lidonghe
	removeReviewer = group user/lidonghe
	submit = group user/lidonghe
[access "refs/heads/*"]
	read = group user/lidonghe
	create = group user/lidonghe
	push = +force group user/lidonghe
	pushMerge = group user/lidonghe
[access "refs/tags/*"]
	push = +force group user/lidonghe
	pushTag = group user/lidonghe
	pushSignedTag = group user/lidonghe
